body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
    font-size: 2rem;
}

p {
    margin-bottom: 20px;
    font-size: 1rem;
    text-align: center;
}

.App-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
}

label {
    margin-bottom: 10px;
    font-size: 1rem;
}

.App-input {
    width: 100%;
    height: auto;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

.App-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #1e88e5;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
}

.App-button:hover {
    background-color: #1565c0;
}

.App-response {
    margin-top: 20px;
    width: 100%;
    max-width: 500px;
    text-align: center;
    font-size: 1rem;
}

.App-response p {
    margin: 10px 0;
}

/* === removing default button style ===*/
.button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
}

/* button styling */
.button {
    --border-right: 6px;
    --text-stroke-color: rgba(255, 255, 255, 0.6);
    --animation-color: #37FF8B;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}

/* this is the text, when you hover on button */
.hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
}

/* hover */
.button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
}

.card {
    background-color: #1f1f1f;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    max-width: 500px;
    width: 100%;
}

.card-title {
    margin-top: 0;
    align-items: center;
    justify-content: center;
    display: flex;
}

.response-card {
    background-color: #2b2b2b;
    padding: 2px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.markdown-content {
    color: #37FF8B;
    border-bottom: 2px solid #37FF8B;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.markdown-content h2 {
    color: #37FF8B;
    border-bottom: 2px solid #37FF8B;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.markdown-content ul {
    list-style: disc;
    padding-left: 20px;
}

.markdown-content li {
    margin-bottom: 10px;
}

.markdown-content p {
    margin-bottom: 15px;
    line-height: 1.6;
}